@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg\ \(3\).jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 66px;
}

nav img {
    width: 164px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 66px);
    color: white;
    position: relative;
    padding: 0px 23px;
    text-align: center;
    font-family: "Martel Sans", sans-serif;
    gap: 14px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
}

.sepration {
    height: 7px;
    background-color: rgb(55, 55, 55);
    position: relative;
    z-index: 11;
}


.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(189, 188, 188, 0.066);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: rgb(244, 48, 48);
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 3px 24px;
}

.btn-red-sm {
    background-color: rgb(244, 48, 48);
    color: white;
}

.main input {
    font-size: 12px;
    font-weight: 800;
    border-radius: 4px;
    color: white;
    padding: 7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid rgba(236, 230, 230, 0.5);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.first {
    display: flex;
    color: white;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}



.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg {
    position: relative;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 555px;
}

.first>div {
    display: flex;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;

    padding: 34px 0px;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;

}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: grey;
    padding: 14px;
    color: white;
    max-width: 55vw;
    margin: 23px auto;
    justify-content: space-between;
    font-size: 23px;
    cursor: pointer;
    font-family: "Martel Sans", sans-serif;
}

.faqbox svg {
    filter: invert(1);
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

.footer a {
    text-decoration: underline;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
        
    }
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 400px;

    }

    .secimg video {

        width: 400px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;

    }

    .hero> :nth-child(1) {
        font-size: 32px;

    }

    .hero> :nth-child(3) {
        font-size: 18px;

    }

    nav {
        max-width: 90vw;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .btn-red {
        margin-top: 15px;
    }

    .faq h2 {

        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }
}